

.app {
    text-align: center;
    padding: 20px;
    background-color: rgb(235, 219, 199);
  }
  
.postbutton{
  background-color: #b3c189;
  font:bolder;
  font-size: large;
  border-radius: 10px;
  border: none;
  width: 500px;
  height: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 2px;
  cursor: pointer;
}

.posttext{
  font:bolder;
  font-size: large;
  padding: 2px;
}



  h1 {
    margin-bottom: 25px;
    text-decoration: underline;
  }
  h3 {
    margin-top: 50px;
    text-decoration: underline;
  }
  
  .postform-title{
  background-color: #f4f4f3;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  width: 300px;
  height: 30px;
  padding: 0px;
  padding-left: 15px;
  }

  .postform-desc{
    background-color: #f4f4f3;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    width: 300px;
    height: 50px;
    padding: 0;
    padding-left: 15px;
    }

  .blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .blog-card {
    background-color: #b3c189;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .blog-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .blog-card p {
    font-size: 1rem;
    color: #555;
  }
  